/*    ==Параметры сценариев==

    Версия исходного сервера : SQL Server 2017 (14.0.1000)
    Выпуск исходного ядра СУБД : Выпуск Microsoft SQL Server Express Edition
    Тип исходного ядра СУБД : Изолированный SQL Server

    Версия целевого сервера : SQL Server 2017
    Выпуск целевого ядра СУБД : Выпуск Microsoft SQL Server Standard Edition
    Тип целевого ядра СУБД : Изолированный SQL Server
*/
USE [master]
GO
/****** Object:  Database [touristCompany]    Script Date: 04.05.2019 12:53:16 ******/
CREATE DATABASE [touristCompany]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'touristCompany', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\touristCompany.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'touristCompany_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\touristCompany_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [touristCompany].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [touristCompany]
GO
USE [touristCompany]
GO
/****** Object:  Table [dbo].[tClients]    Script Date: 04.05.2019 12:53:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tClients](
	[ID_Client] [int] IDENTITY(1,1) NOT NULL,
	[sName] [nvarchar](40) NOT NULL,
	[sSurname] [nvarchar](40) NOT NULL,
	[sPatronymic] [nvarchar](40) NULL,
	[Photo] [nvarchar](50) NULL,
	[Bithday] [date] NULL,
	[sDoc] [nvarchar](40) NULL,
	[Series] [int] NOT NULL,
	[Number] [int] NOT NULL,
	[sDocIssue] [nvarchar](325) NULL,
	[DateIssue] [date] NULL,
	[AbroadDoc] [bit] NULL,
 CONSTRAINT [PK__tClients__B5AE4EC8565BF2D3] PRIMARY KEY CLUSTERED 
(
	[ID_Client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__tClients__78A1A19D6D2EE96E] UNIQUE NONCLUSTERED 
(
	[Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tGroups]    Script Date: 04.05.2019 12:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tGroups](
	[ID_Group] [int] IDENTITY(1,1) NOT NULL,
	[sName] [nvarchar](30) NOT NULL,
	[sCount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tGroupsClients]    Script Date: 04.05.2019 12:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tGroupsClients](
	[ID_GroupsClients] [int] IDENTITY(1,1) NOT NULL,
	[ID_Group] [int] NULL,
	[ID_Client] [int] NULL,
	[Sale] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_GroupsClients] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tGroupsRoutes]    Script Date: 04.05.2019 12:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tGroupsRoutes](
	[ID_GroupsRoutes] [int] IDENTITY(1,1) NOT NULL,
	[ID_Group] [int] NULL,
	[ID_Route] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_GroupsRoutes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tPuncts]    Script Date: 04.05.2019 12:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPuncts](
	[ID_Punct] [int] IDENTITY(1,1) NOT NULL,
	[sCountry] [nvarchar](30) NOT NULL,
	[sPunct] [nvarchar](40) NOT NULL,
	[sHotel] [nvarchar](40) NOT NULL,
	[dateStart] [date] NULL,
	[dateEnd] [date] NULL,
	[class] [int] NULL,
	[sExcurse] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Punct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tRoutes]    Script Date: 04.05.2019 12:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tRoutes](
	[ID_Route] [int] IDENTITY(1,1) NOT NULL,
	[sNameOfRoute] [nvarchar](30) NOT NULL,
	[sCountry] [nvarchar](30) NOT NULL,
	[sDays] [int] NULL,
	[ID_Worker] [int] NULL,
	[Price] [int] NULL,
	[Sale] [int] NULL,
	[sReturn] [int] NULL,
	[DayStart] [date] NULL,
 CONSTRAINT [PK__tRoutes__338A6C3438CADF08] PRIMARY KEY CLUSTERED 
(
	[ID_Route] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__tRoutes__79DF59597BD34D0A] UNIQUE NONCLUSTERED 
(
	[sNameOfRoute] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tRoutesPuncts]    Script Date: 04.05.2019 12:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tRoutesPuncts](
	[ID_RoutesPuncts] [int] IDENTITY(1,1) NOT NULL,
	[ID_Route] [int] NOT NULL,
	[ID_Punct] [int] NOT NULL,
 CONSTRAINT [PK__tRoutesP__4C9835B1F4418429] PRIMARY KEY CLUSTERED 
(
	[ID_RoutesPuncts] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tUser]    Script Date: 04.05.2019 12:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tUser](
	[ID_User] [int] IDENTITY(1,1) NOT NULL,
	[sLog] [nvarchar](50) NOT NULL,
	[sPassword] [nvarchar](50) NOT NULL,
	[sRole] [nvarchar](55) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[sLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tWorkers]    Script Date: 04.05.2019 12:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWorkers](
	[ID_Worker] [int] IDENTITY(1,1) NOT NULL,
	[sName] [nvarchar](40) NOT NULL,
	[sSurname] [nvarchar](40) NOT NULL,
	[sPatronymic] [nvarchar](40) NULL,
	[Photo] [nvarchar](50) NULL,
	[Bithday] [date] NULL,
	[AbroadDoc] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Worker] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tGroupsClients]  WITH CHECK ADD  CONSTRAINT [FK__tGroupsCl__ID_Cl__46B27FE2] FOREIGN KEY([ID_Client])
REFERENCES [dbo].[tClients] ([ID_Client])
GO
ALTER TABLE [dbo].[tGroupsClients] CHECK CONSTRAINT [FK__tGroupsCl__ID_Cl__46B27FE2]
GO
ALTER TABLE [dbo].[tGroupsClients]  WITH CHECK ADD FOREIGN KEY([ID_Group])
REFERENCES [dbo].[tGroups] ([ID_Group])
GO
ALTER TABLE [dbo].[tGroupsRoutes]  WITH CHECK ADD FOREIGN KEY([ID_Group])
REFERENCES [dbo].[tGroups] ([ID_Group])
GO
ALTER TABLE [dbo].[tGroupsRoutes]  WITH CHECK ADD FOREIGN KEY([ID_Route])
REFERENCES [dbo].[tRoutes] ([ID_Route])
GO
ALTER TABLE [dbo].[tRoutes]  WITH CHECK ADD  CONSTRAINT [FK__tRoutes__ID_Work__5DCAEF64] FOREIGN KEY([ID_Worker])
REFERENCES [dbo].[tWorkers] ([ID_Worker])
GO
ALTER TABLE [dbo].[tRoutes] CHECK CONSTRAINT [FK__tRoutes__ID_Work__5DCAEF64]
GO
ALTER TABLE [dbo].[tRoutesPuncts]  WITH CHECK ADD  CONSTRAINT [FK__tRoutesPu__ID_Pu__3F115E1A] FOREIGN KEY([ID_Punct])
REFERENCES [dbo].[tPuncts] ([ID_Punct])
GO
ALTER TABLE [dbo].[tRoutesPuncts] CHECK CONSTRAINT [FK__tRoutesPu__ID_Pu__3F115E1A]
GO
ALTER TABLE [dbo].[tRoutesPuncts]  WITH CHECK ADD  CONSTRAINT [FK__tRoutesPu__ID_Ro__3E1D39E1] FOREIGN KEY([ID_Route])
REFERENCES [dbo].[tRoutes] ([ID_Route])
GO
ALTER TABLE [dbo].[tRoutesPuncts] CHECK CONSTRAINT [FK__tRoutesPu__ID_Ro__3E1D39E1]
GO
USE [master]
GO
